#  Project Progress Report
## Andres Nigenda, Elias Serrania, Krista Chan

In [1]:
%load_ext autoreload
%autoreload 2

import read_data as rd
import train_test as tt
import ml_loop as ml
import pandas as pd
import numpy as np
import full_pipeline as fp

In [2]:
raw_dfs = fp.RawDfs()

In [3]:
set_list = raw_dfs.create_train_tests(np.timedelta64(2, "Y"))

Allegation sets

Training set 0 is trained from 2010-01-01 to 2010-12-31 to predict the outcome from 2011-01-01 to 2012-12-31 and tested on outcomes in 2013-01-01 to 2014-12-31

Training set 1 is trained from 2010-01-01 to 2011-12-31 to predict the outcome from 2012-01-01 to 2013-12-31 and tested on outcomes in 2014-01-01 to 2015-12-31

Training set 2 is trained from 2010-01-01 to 2012-12-30 to predict the outcome from 2012-12-31 to 2015-01-01 and tested on outcomes in 2015-01-02 to 2016-12-30

Training set 3 is trained from 2010-01-01 to 2013-12-30 to predict the outcome from 2013-12-31 to 2016-01-01 and tested on outcomes in 2016-01-02 to 2017-12-30



TRR sets

Training set 0 is trained from 2010-01-01 to 2010-12-31 to predict the outcome from 2011-01-01 to 2012-12-31 and tested on outcomes in 2013-01-01 to 2014-12-31

Training set 1 is trained from 2010-01-01 to 2011-12-31 to predict the outcome from 2012-01-01 to 2013-12-31 and tested on outcomes in 2014-01-01 to 2015-12-31

In [7]:
set_list[0].reg

{'train':           id gender           race appointed_date  \
 5      32395      M       Hispanic     1988-05-02
 6      31966      M          White     1992-12-07
 8      32102      M  Asian/Pacific     1995-01-03
 37     32506      M          White     2007-11-01
 601    32250      M          White     1991-12-02
 626    32074      M          Black     1986-06-16
 652    29963      M          White     1986-06-16
 655     8175      F       Hispanic     1985-11-18
 656     9534      M       Hispanic     1983-02-14
 657     4403      F          Black     1990-03-26
 660    25219      F          White     1981-04-13
 661    15636      F          White     1987-12-07
 662     3613      F          White     1992-06-29
 664     3632      F          White     1990-03-26
 668     4022      M          White     2005-06-01
 688    31942      M          White     1981-05-18
 720    32320      F       Hispanic     1991-06-19
 733    24000      F          Black     1990-03-26
 743    30482      F          Black     1982-11-29
 744    31865      F       Hispanic     1988-11-07
 748      377      M          Black     1993-05-17
 749    17467      F       Hispanic     1994-05-31
 751    27908      F          Black     1987-12-07
 752     2642      F          Black     1988-12-05
 765    32470      M          White     2007-11-01
 773     2735      M          Black     1994-07-05
 775     7014      M          Black     1986-06-16
 779    11501      F          Black     1990-07-30
 781    32515      F       Hispanic     2007-11-01
 782    32520      M  Asian/Pacific     2007-11-01
 ...      ...    ...            ...            ...
 33693  14646      M          White     1977-01-03
 33694  28796      F          White     1986-07-14
 33697  23602      M          Black     1990-03-26
 33698  10562      M          White     1971-02-22
 33699    581      F          White     1989-12-26
 33700   6171      F          Black     1981-05-18
 33709  24765      M          White     1981-06-08
 33713   1184      M          Black     1981-04-13
 33716  10875      M          White     1986-12-22
 33720  10687      M          Black     1982-03-01
 33723  31355      M  Asian/Pacific     1986-10-13
 33726  30564      M          White     1972-11-20
 33736  24356      M       Hispanic     1977-01-03
 33737  20959      M          White     1986-07-14
 33738  25186      M          White     1985-07-01
 33749  10442      M          White     1986-08-11
 33750  19808      F  Asian/Pacific     1983-02-14
 33752  14231      M          White     1977-01-03
 33766  11417      M          White     1972-10-23
 33775  14494      M          White     1988-11-07
 33776  27334      F          Black     1990-07-30
 33785  10222      M          White     2006-07-31
 33791   3965      M          Black     1985-05-06
 33795   7923      M          White     1973-10-22
 33797   8734      M          Black     1986-10-13
 33803  15339      M          White     1982-08-30
 33815  32457      M          White     2005-03-01
 33834   3919      M          White     1977-01-03
 33836  32398      M          White     1986-12-22
 33838  32368      M          Black     1990-03-26

                                          rank   active  birth_year  \
 5                                   Detective  Unknown      1963.0
 6                                   Detective  Unknown      1961.0
 8                                   Detective  Unknown      1967.0
 37                                        NaN  Unknown      1987.0
 601                                       NaN  Unknown      1967.0
 626                                 Detective  Unknown      1954.0
 652                              Police Agent       No      1957.0
 655                              Police Agent       No      1953.0
 656                              Police Agent       No      1957.0
 657                              Police Agent      Yes      1960.0
 660                              Police Agent       No      1953.0
 661                              Police Agent       No      1956.0
 662                              Police Agent       No      1956.0
 664                              Police Agent       No      1961.0
 668                         Police Technician       No      1962.0
 688                                 Detective  Unknown      1954.0
 720                                       NaN  Unknown      1961.0
 733                              Police Agent       No      1957.0
 743                              Police Agent       No      1954.0
 744                                       NaN  Unknown      1961.0
 748                              Police Agent      Yes      1962.0
 749                              Police Agent       No      1951.0
 751                              Police Agent       No      1947.0
 752                              Police Agent       No      1956.0
 765                                       NaN  Unknown      1986.0
 773                              Police Agent       No      1965.0
 775                         Police Technician       No      1960.0
 779                              Police Agent       No      1958.0
 781                                       NaN  Unknown      1988.0
 782                                       NaN  Unknown      1988.0
 ...                                       ...      ...         ...
 33693  Police Officer Assigned Canine Handler       No      1952.0
 33694  Police Officer Assigned Canine Handler       No      1951.0
 33697  Police Officer Assigned Canine Handler       No      1954.0
 33698  Police Officer Assigned Canine Handler       No      1948.0
 33699  Police Officer Assigned Canine Handler      Yes      1960.0
 33700  Police Officer Assigned Canine Handler       No      1953.0
 33709                               Commander       No      1953.0
 33713                               Commander       No      1954.0
 33716                               Commander       No      1957.0
 33720                               Commander       No      1953.0
 33723                               Commander       No      1965.0
 33726                               Commander       No      1950.0
 33736                               Commander       No      1954.0
 33737                               Commander       No      1964.0
 33738                               Commander       No      1959.0
 33749                               Commander       No      1962.0
 33750                               Commander       No      1952.0
 33752                               Commander       No      1952.0
 33766                               Commander       No      1950.0
 33775                               Commander       No      1958.0
 33776                               Commander       No      1963.0
 33785                               Commander       No      1974.0
 33791                               Commander       No      1960.0
 33795                               Commander       No      1951.0
 33797                               Commander       No      1963.0
 33803                               Commander       No      1956.0
 33815                               Commander  Unknown      1951.0
 33834                               Commander       No      1953.0
 33836                               Commander  Unknown      1962.0
 33838                               Commander  Unknown      1967.0

       resignation_date current_badge  current_salary last_unit_id
 5           2017-05-15         20399        102900.0          151
 6           2017-03-15         20203         99978.0          151
 8           2016-11-08         21116         99978.0          151
 37          2012-09-07           NaN             NaN          NaN
 601         2017-03-15         15177         99978.0          153
 626         2017-07-15         21257        102900.0          153
 652         2016-02-15           NaN         98016.0           80
 655         2015-01-15           NaN         97044.0           80
 656         2012-03-15           NaN         90540.0           80
 657         2017-04-15           NaN         99978.0           80
 660         2010-04-15           NaN         87888.0           80
 661         2017-01-15          5905         99978.0           80
 662         2012-07-15           NaN         87918.0           80
 664         2012-04-15           NaN         87918.0           80
 668         2012-05-15           NaN         87918.0           80
 688         2016-11-15         20601        102900.0          153
 720         2017-04-15           NaN         95106.0          152
 733         2010-04-15           NaN         85344.0           80
 743         2012-02-15           NaN         90540.0           80
 744         2016-11-30           NaN         83706.0          153
 748         2017-05-21         18366         97080.0           80
 749         2014-06-15           NaN         87918.0           80
 751         2010-10-04           NaN         85344.0           80
 752         2012-12-15           NaN             NaN           80
 765         2016-04-27           NaN             NaN          NaN
 773         2017-01-15          8099         97080.0           80
 775         2015-07-15           NaN         97044.0          153
 779         2014-08-01           NaN         87918.0           80
 781         2011-09-07           NaN             NaN          NaN
 782         2012-12-11           NaN             NaN          NaN
 ...                ...           ...             ...          ...
 33693       2010-11-15           NaN         87888.0          119
 33694       2010-08-15           NaN         85344.0          119
 33697       2016-06-29           NaN         76764.0          119
 33698       2011-03-15           NaN         89646.0          155
 33699       2017-04-15         16133         99978.0          178
 33700       2010-07-15           NaN         87888.0          119
 33709       2010-11-15           NaN        151896.0          193
 33713       2011-11-15           475        154932.0            6
 33716       2012-10-15           144        154932.0           14
 33720       2013-01-16           261        154932.0           16
 33723       2015-07-15           660        123948.0          146
 33726       2011-08-01           169        154932.0           25
 33736       2012-07-15           183        154932.0          152
 33737       2013-12-15           556        154932.0           12
 33738       2015-12-09           512        162684.0          212
 33749       2013-11-30           555        154932.0           10
 33750       2015-07-15           299        123948.0          107
 33752       2012-02-29           739        154932.0           13
 33766       2012-03-15           NaN        154932.0           23
 33775       2014-07-16           114        125790.0           90
 33776       2014-11-15           729        154932.0           85
 33785       2011-05-14          9908        154992.0           69
 33791       2013-01-29           221        154932.0          160
 33795       2011-09-02            27        154932.0           22
 33797       2016-04-15           119        162684.0          157
 33803       2011-12-15            54        154932.0           23
 33815       2011-03-22           NaN         97704.0          NaN
 33834       2010-11-15           NaN        151896.0          193
 33836       2017-05-15           318        162684.0          149
 33838       2017-05-15          7540        162684.0          193

 [4023 rows x 11 columns],
 'test':           id gender           race appointed_date  \
 5      32395      M       Hispanic     1988-05-02
 6      31966      M          White     1992-12-07
 8      32102      M  Asian/Pacific     1995-01-03
 37     32506      M          White     2007-11-01
 601    32250      M          White     1991-12-02
 626    32074      M          Black     1986-06-16
 652    29963      M          White     1986-06-16
 655     8175      F       Hispanic     1985-11-18
 656     9534      M       Hispanic     1983-02-14
 657     4403      F          Black     1990-03-26
 660    25219      F          White     1981-04-13
 661    15636      F          White     1987-12-07
 662     3613      F          White     1992-06-29
 664     3632      F          White     1990-03-26
 668     4022      M          White     2005-06-01
 688    31942      M          White     1981-05-18
 720    32320      F       Hispanic     1991-06-19
 733    24000      F          Black     1990-03-26
 743    30482      F          Black     1982-11-29
 744    31865      F       Hispanic     1988-11-07
 748      377      M          Black     1993-05-17
 749    17467      F       Hispanic     1994-05-31
 751    27908      F          Black     1987-12-07
 752     2642      F          Black     1988-12-05
 765    32470      M          White     2007-11-01
 773     2735      M          Black     1994-07-05
 775     7014      M          Black     1986-06-16
 779    11501      F          Black     1990-07-30
 781    32515      F       Hispanic     2007-11-01
 782    32520      M  Asian/Pacific     2007-11-01
 ...      ...    ...            ...            ...
 33693  14646      M          White     1977-01-03
 33694  28796      F          White     1986-07-14
 33697  23602      M          Black     1990-03-26
 33698  10562      M          White     1971-02-22
 33699    581      F          White     1989-12-26
 33700   6171      F          Black     1981-05-18
 33709  24765      M          White     1981-06-08
 33713   1184      M          Black     1981-04-13
 33716  10875      M          White     1986-12-22
 33720  10687      M          Black     1982-03-01
 33723  31355      M  Asian/Pacific     1986-10-13
 33726  30564      M          White     1972-11-20
 33736  24356      M       Hispanic     1977-01-03
 33737  20959      M          White     1986-07-14
 33738  25186      M          White     1985-07-01
 33749  10442      M          White     1986-08-11
 33750  19808      F  Asian/Pacific     1983-02-14
 33752  14231      M          White     1977-01-03
 33766  11417      M          White     1972-10-23
 33775  14494      M          White     1988-11-07
 33776  27334      F          Black     1990-07-30
 33785  10222      M          White     2006-07-31
 33791   3965      M          Black     1985-05-06
 33795   7923      M          White     1973-10-22
 33797   8734      M          Black     1986-10-13
 33803  15339      M          White     1982-08-30
 33815  32457      M          White     2005-03-01
 33834   3919      M          White     1977-01-03
 33836  32398      M          White     1986-12-22
 33838  32368      M          Black     1990-03-26

                                          rank   active  birth_year  \
 5                                   Detective  Unknown      1963.0
 6                                   Detective  Unknown      1961.0
 8                                   Detective  Unknown      1967.0
 37                                        NaN  Unknown      1987.0
 601                                       NaN  Unknown      1967.0
 626                                 Detective  Unknown      1954.0
 652                              Police Agent       No      1957.0
 655                              Police Agent       No      1953.0
 656                              Police Agent       No      1957.0
 657                              Police Agent      Yes      1960.0
 660                              Police Agent       No      1953.0
 661                              Police Agent       No      1956.0
 662                              Police Agent       No      1956.0
 664                              Police Agent       No      1961.0
 668                         Police Technician       No      1962.0
 688                                 Detective  Unknown      1954.0
 720                                       NaN  Unknown      1961.0
 733                              Police Agent       No      1957.0
 743                              Police Agent       No      1954.0
 744                                       NaN  Unknown      1961.0
 748                              Police Agent      Yes      1962.0
 749                              Police Agent       No      1951.0
 751                              Police Agent       No      1947.0
 752                              Police Agent       No      1956.0
 765                                       NaN  Unknown      1986.0
 773                              Police Agent       No      1965.0
 775                         Police Technician       No      1960.0
 779                              Police Agent       No      1958.0
 781                                       NaN  Unknown      1988.0
 782                                       NaN  Unknown      1988.0
 ...                                       ...      ...         ...
 33693  Police Officer Assigned Canine Handler       No      1952.0
 33694  Police Officer Assigned Canine Handler       No      1951.0
 33697  Police Officer Assigned Canine Handler       No      1954.0
 33698  Police Officer Assigned Canine Handler       No      1948.0
 33699  Police Officer Assigned Canine Handler      Yes      1960.0
 33700  Police Officer Assigned Canine Handler       No      1953.0
 33709                               Commander       No      1953.0
 33713                               Commander       No      1954.0
 33716                               Commander       No      1957.0
 33720                               Commander       No      1953.0
 33723                               Commander       No      1965.0
 33726                               Commander       No      1950.0
 33736                               Commander       No      1954.0
 33737                               Commander       No      1964.0
 33738                               Commander       No      1959.0
 33749                               Commander       No      1962.0
 33750                               Commander       No      1952.0
 33752                               Commander       No      1952.0
 33766                               Commander       No      1950.0
 33775                               Commander       No      1958.0
 33776                               Commander       No      1963.0
 33785                               Commander       No      1974.0
 33791                               Commander       No      1960.0
 33795                               Commander       No      1951.0
 33797                               Commander       No      1963.0
 33803                               Commander       No      1956.0
 33815                               Commander  Unknown      1951.0
 33834                               Commander       No      1953.0
 33836                               Commander  Unknown      1962.0
 33838                               Commander  Unknown      1967.0

       resignation_date current_badge  current_salary last_unit_id
 5           2017-05-15         20399        102900.0          151
 6           2017-03-15         20203         99978.0          151
 8           2016-11-08         21116         99978.0          151
 37          2012-09-07           NaN             NaN          NaN
 601         2017-03-15         15177         99978.0          153
 626         2017-07-15         21257        102900.0          153
 652         2016-02-15           NaN         98016.0           80
 655         2015-01-15           NaN         97044.0           80
 656         2012-03-15           NaN         90540.0           80
 657         2017-04-15           NaN         99978.0           80
 660         2010-04-15           NaN         87888.0           80
 661         2017-01-15          5905         99978.0           80
 662         2012-07-15           NaN         87918.0           80
 664         2012-04-15           NaN         87918.0           80

In [5]:
# Model parameters
GRID = 'test'
CLFRS_TO_RUN = ['RandomForest']
LABEL = 'sustained_outcome'

# Metrics and thresholds
METRIC_DICT = {'precision': [100, 5, 20, 50, 80],
               'recall': [100, 5, 20, 50, 80],
               'f1': [5],
               'accuracy': [50]}
METRICS = 'pop'

# Other lists
preds_drop = [] + [LABEL]

In [47]:
res_df = ml.classifier_loop(set_list, GRID, CLFRS_TO_RUN, METRIC_DICT, LABEL, preds_drop,
                            METRICS, plot=True, save=False)

****
** Working on the RandomForest classifier RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=1992, verbose=0,
            warm_start=False) with parameters {'max_depth': 5, 'min_samples_split': 5, 'n_estimators': 10, 'n_jobs': -1, 'random_state': 1992}.
* Training from 2010-01-01 00:00:00 to 2010-12-31 05:49:12 and testing from 2013-01-01 17:27:36 to 2014-12-31 05:06:00.

KeyError: "['sustained_outcome'] not found in axis"